@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html {
  height: 100%; }

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif; }

p {
  margin: 50px auto;
  font-size: 18px;
  text-align: center; }

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h2 {
  font-size: 41px;
  font-weight: bold;
  margin: 0;
  text-align: center; }

h2:first-child {
  padding-top: 70px; }

/* Header Start */
.navbar {
  min-height: 80px;
  background-color: #212831; }
  .navbar a {
    font-size: 20px;
    color: #fff; }

.navbar-brand {
  padding: 0 0 0 8%; }

.navbar-toggle {
  margin-top: 13px;
  padding: 9px 10px !important; }

.nav-link {
  padding-left: 1rem !important; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

/* Header End */
/* Showcase Start */
.white {
  min-height: 450px;
  color: #393939; }
  .white li {
    text-align: center; }
  .white h2 {
    color: #393939; }

.black {
  min-height: 400px;
  color: #fff;
  background-color: #222932; }
  .black h2 {
    color: #fff; }

.cont {
  width: 100%;
  margin: 0;
  overflow: hidden;
  text-align: center; }

.textCont {
  margin: 0 auto;
  width: 60%; }
  @media (max-width: 1024px) {
    .textCont {
      width: 85%; } }
  .textCont h1 {
    font-weight: bold; }
  .textCont p {
    font-size: 18px;
    margin-top: 35px;
    line-height: 2em; }

.showcaseGrid {
  width: 100%;
  height: 90vh;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://rostumahady.github.io/arcadiascaffolding/img/landing.jpg") no-repeat 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas: ". . ." ". showcaseCont ." ". arrow ."; }
  @media (max-width: 1024px) {
    .showcaseGrid {
      grid-template-areas: ". . ." "showcaseCont showcaseCont showcaseCont" ". . ."; } }
  .showcaseGrid .showcaseCont {
    grid-area: showcaseCont;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* column | row */ }
    .showcaseGrid .showcaseCont h1 {
      font-size: 82px;
      color: #fff;
      font-weight: bolder; }
      @media (max-width: 768px) {
        .showcaseGrid .showcaseCont h1 {
          font-size: 50px; } }
    .showcaseGrid .showcaseCont .button {
      margin: 20px auto 20px auto;
      width: 200px;
      line-height: 1; }
      .showcaseGrid .showcaseCont .button:hover {
        color: #000; }
  .showcaseGrid .arrow {
    grid-area: arrow;
    text-align: center;
    margin: 8% 0; }
    .showcaseGrid .arrow a {
      color: #fff;
      text-decoration: none; }
    @media (max-width: 1024px) {
      .showcaseGrid .arrow {
        display: none; } }
  .showcaseGrid .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite; }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
@media (max-width: 1024px) {
  #aboutScroll .textCont p {
    width: 90%; } }

#servicesScroll .servicesGrid {
  margin: 30px auto 30px auto;
  display: grid;
  width: 860px;
  color: #fff;
  text-align: center;
  grid-template-columns: 20% 6.66% 20% 6.66% 20% 6.66% 20%;
  grid-template-areas: "servicesOne dot1 servicesTwo dot2 servicesThree dot3 servicesFour"; }
  @media (max-width: 768px) {
    #servicesScroll .servicesGrid {
      height: 300px;
      grid-template-columns: 100%;
      grid-template-rows: 20% 6.66% 20% 6.66% 20% 6.66% 20%;
      grid-template-areas: "servicesOne" "dot1"  "servicesTwo"  "dot2"  "servicesThree"  "dot3"  "servicesFour"; } }
  @media (max-width: 1024px) {
    #servicesScroll .servicesGrid {
      width: 90%; } }
  #servicesScroll .servicesGrid .servicesGridItem {
    align-self: center;
    justify-self: center; }
    #servicesScroll .servicesGrid .servicesGridItem h3 {
      font-weight: normal !important;
      font-size: 18px;
      margin: 0; }
  #servicesScroll .servicesGrid .dots {
    justify-self: center;
    align-self: center;
    background: #56CBF1 no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%; }
#servicesScroll .listCont .lists {
  margin: 0 auto;
  list-style: none; }
  #servicesScroll .listCont .lists li {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 8px 0; }

.listCont {
  margin: 40px auto 120px auto; }

#servicesOne {
  grid-area: servicesOne; }

#servicesTwo {
  grid-area: servicesTwo; }

#servicesThree {
  grid-area: servicesThree; }

#servicesFour {
  grid-area: servicesFour; }

#dot1 {
  grid-area: dot1; }

#dot2 {
  grid-area: dot2; }

#dot3 {
  grid-area: dot3; }

.vector {
  display: block;
  margin: 60px auto 40px auto; }

.lists {
  list-style-position: outside;
  padding: 0;
  list-style-type: disc; }
  .lists li {
    color: #56CCF2;
    text-align: left;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 24px; }

/* GALLERY STYLING */
.gallery {
  height: 700px; }
  .gallery .slider {
    margin: 70px auto auto auto;
    max-width: 760px;
    opacity: 1; }
    .gallery .slider .slide_viewer {
      height: 380px;
      overflow: hidden;
      position: relative; }
      .gallery .slider .slide_viewer .slide_group {
        height: 100%;
        position: relative;
        width: 100%; }
        .gallery .slider .slide_viewer .slide_group .slide {
          display: none;
          height: 100%;
          position: absolute;
          width: 100%; }
          .gallery .slider .slide_viewer .slide_group .slide .image {
            width: 100%;
            height: 100%; }
  .gallery .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center; }
  .gallery .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px; }
    .gallery .directional_nav .previous_btn, .gallery .directional_nav .next_btn {
      cursor: pointer;
      height: 65px;
      opacity: 0.5;
      -webkit-transition: opacity 0.4s ease-in-out;
      -moz-transition: opacity 0.4s ease-in-out;
      -ms-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
      width: 65px; }
      .gallery .directional_nav .previous_btn:hover, .gallery .directional_nav .next_btn:hover {
        opacity: 1; }
    .gallery .directional_nav .previous_btn {
      bottom: 0;
      left: 100px;
      margin: auto;
      position: absolute;
      top: 0; }
    .gallery .directional_nav .next_btn {
      bottom: 0;
      margin: auto;
      position: absolute;
      right: 100px;
      top: 0; }

.opacity {
  opacity: 1; }

.fade-up {
  padding-top: 100px !important;
  opacity: 0 !important; }

.slide:first-child {
  display: block !important; }

a.slide_btn {
  color: #474544 !important;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.slide_btn.active, .slide_btn:hover {
  color: #428CC6 !important;
  cursor: pointer; }

#processScroll .textCont .listCont .lists li span {
  color: #fff;
  font-size: 18px; }

#HSScroll .textCont .listCont {
  float: left;
  width: 50%;
  margin-top: 0; }
  @media (max-width: 768px) {
    #HSScroll .textCont .listCont {
      width: 100%;
      display: block;
      margin-bottom: 20px; } }
  #HSScroll .textCont .listCont .lists {
    float: left; }
    #HSScroll .textCont .listCont .lists li span {
      color: #000;
      font-size: 18px; }
#HSScroll .textCont .downloadCont {
  width: 50%;
  display: inline-block; }
  @media (max-width: 768px) {
    #HSScroll .textCont .downloadCont {
      width: 100%;
      display: block;
      margin: 0 auto 60px auto; } }
  #HSScroll .textCont .downloadCont a {
    margin: 10px auto;
    display: block;
    text-align: center;
    max-height: 250px; }

#formBackground {
  height: 900px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://rostumahady.github.io/arcadiascaffolding/img/landing.jpg") no-repeat 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: ". . ." ". formCont ." ". . ."; }
  @media (max-width: 1024px) {
    #formBackground {
      grid-template-areas: "formCont formCont formCont" "formCont formCont formCont" "formCont formCont formCont";
      background: none; } }
  #formBackground .formCont {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    grid-area: formCont;
    margin: 0 auto; }
    #formBackground .formCont h1 {
      margin-top: 50px; }
    #formBackground .formCont p {
      color: #000;
      margin-top: 1.5em;
      margin-bottom: 4em;
      font-size: 18px; }
    #formBackground .formCont .form {
      width: 90%;
      margin: 0 auto;
      font-family: 'Roboto Condensed', sans-serif; }
      #formBackground .formCont .form p {
        margin-bottom: 30px;
        width: 100%;
        text-align: left; }
      #formBackground .formCont .form .inputField {
        display: block;
        border: #828282 solid 2px;
        border-radius: 3px;
        font-size: 18px;
        height: 70px;
        width: 47%;
        margin: 1em 0 1em 0;
        line-height: normal;
        padding: 8px 12px; }
        @media (max-width: 768px) {
          #formBackground .formCont .form .inputField {
            display: block;
            width: 100%;
            float: none; } }
      #formBackground .formCont .form #inputPhone {
        display: inline-block; }
      #formBackground .formCont .form #inputEmail {
        float: right; }
      #formBackground .formCont .form .messageBox {
        border: #828282 solid 2px;
        border-radius: 3px;
        margin: 1em 0 1em 0;
        width: 100%;
        height: 150px;
        resize: none;
        padding: 8px 12px;
        font-size: 18px; }
      @media (max-width: 768px) {
        #formBackground .formCont .form .button {
          width: 100%; } }

#whiteBtn {
  border: 4px #56CCF2 solid;
  background: transparent;
  color: #000; }

.button {
  position: relative;
  margin: 0 auto;
  width: 250px;
  background: #56CCF2;
  padding: 0.5em;
  border: none;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  cursor: pointer; }
  .button:hover {
    color: #000; }

.footer {
  height: 260px;
  width: 100%;
  background-color: #222932;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "f-Grid1 f-Grid2"; }
  @media (max-width: 1024px) {
    .footer {
      grid-template-columns: 65% 35%; } }

#f-Grid1 {
  grid-area: f-Grid1;
  margin: 0 auto;
  width: 40%; }
  @media (max-width: 1024px) {
    #f-Grid1 {
      width: 90%; } }
  #f-Grid1 p {
    color: #fff;
    margin: 20px auto 0 auto;
    display: block;
    width: 100%; }
  #f-Grid1 h2 {
    text-align: left; }

#f-Grid2 {
  grid-area: f-Grid2;
  color: #fff;
  font-size: 32px;
  padding-top: 120px;
  margin-left: 0; }
  @media (max-width: 1024px) {
    #f-Grid2 {
      padding-top: 60px; } }
  #f-Grid2 .fab {
    margin: auto 15px; }
