@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

$paragraph: 18px;
$dark-color: #222932;
$white: #fff;
$black: #000;
$roboto: 'Roboto', sans-serif;
$mobile: 768px;
$tablet: 1024px;

// query

@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet}){
        @content;
    }
}

html{
	height: 100%;   
}

body{
	max-width: 100%;
	overflow-x: hidden;
	margin: 0;
	font-family: $roboto;
}

p{
	margin: 50px auto;
	font-size: $paragraph;
	text-align: center;
}
a{
		font-family: $roboto;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
}

h2{
	font-size: 41px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}
h2:first-child{
	padding-top: 70px;
}
/* Header Start */

.navbar {
  min-height: 80px;
  background-color: #212831;
  a{
    font-size: 20px;
    color: $white;
  }
}

.navbar-brand {
  padding: 0 0 0 8%;
}

.navbar-toggle {
  // (60px - button height 34px) / 2 = 23px 
  margin-top: 13px;
  padding: 9px 10px !important;
}

.nav-link{
	padding-left: 1rem !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Header End */

/* Showcase Start */

.white{
	min-height: 450px;
	color: #393939;
	li{
		text-align: center;
	}
	h2{
		color: #393939;
	}
}
.black{
	min-height: 400px;
	color: $white;
 background-color: #222932; 
	h2{
		color: $white;
	}
}

.cont{
	width: 100%;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

.textCont{
	margin: 0 auto;
	width: 60%; 
	@include tablet{width: 85%;}
	h1{
		font-weight: bold;
	}
	p{
		font-size: $paragraph;
		margin-top: 35px;
		line-height: 2em;
	}

}

.showcaseGrid{
	width: 100%;
	height: 90vh;
	margin: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://rostumahady.github.io/arcadiascaffolding/img/landing.jpg") no-repeat 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 20% 60% 20%;
	grid-template-areas:
	". . ."
	". showcaseCont ."
	". arrow .";
	@include tablet{
		grid-template-areas: 
		". . ."
		"showcaseCont showcaseCont showcaseCont"
		". . .";
	}
	.showcaseCont{
		grid-area: showcaseCont;
		text-align: center;
		display: flex;
		justify-content:center;
		align-content:center;
		flex-direction:column; /* column | row */
		h1{
			font-size: 82px;
			color: $white;
			font-weight: bolder;
			@include mobile{font-size: 50px;}
		}
		
		.button{
			margin: 20px auto 20px auto;
			width: 200px;
			line-height: 1;
			&:hover{
				color: $black;
			}
		}
	}
	.arrow {
		grid-area: arrow;
		text-align: center;
		margin: 8% 0;
		a{
				color: $white;
				text-decoration: none;
		}
		@include tablet{display: none;}	
	}
	
	// BOUNCING ARROW START
	.bounce {
		-moz-animation: bounce 2s infinite;
		-webkit-animation: bounce 2s infinite;
		animation: bounce 2s infinite;
	}
	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
			transform: translateY(0);
		}
		40% {
			transform: translateY(-30px);
		}
		60% {
			transform: translateY(-15px);
		}
	}
	// BOUNCING ARROW END
}

#aboutScroll{
	.textCont{
		@include tablet{
			p{width: 90%;}
		}
	}
}


#servicesScroll{
	.servicesGrid{
		margin: 30px auto 30px auto;
		display: grid;
		width: 860px;
		color: $white;
		text-align: center;
		grid-template-columns: 20% 6.66% 20% 6.66% 20% 6.66% 20% ;
		grid-template-areas: 
		"servicesOne dot1 servicesTwo dot2 servicesThree dot3 servicesFour";
		@include mobile{
			height: 300px;
			grid-template-columns: 100%;
			grid-template-rows: 20% 6.66% 20% 6.66% 20% 6.66% 20%;
			grid-template-areas: 
			"servicesOne"
			"dot1" 
			"servicesTwo" 
			"dot2" 
			"servicesThree" 
			"dot3" 
			"servicesFour";
		}
		@include tablet{width: 90%;}
		.servicesGridItem{
			align-self: center;
			justify-self: center;
			h3{
				font-weight: normal !important; 
				font-size: $paragraph;
				margin: 0;
			}
		}
		.dots{
			justify-self: center;
			align-self: center;
			background: #56CBF1 no-repeat center center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
	}
	.listCont{	
		.lists{
			margin: 0 auto;
			list-style: none;
			li{
				font-size: $paragraph;
				color: $white;
				text-align: center;
				margin: 8px 0;	
			}
		}
	}
}

.listCont{
	margin: 40px auto 120px auto;
}

#servicesOne{grid-area: servicesOne;}
#servicesTwo{grid-area: servicesTwo;}
#servicesThree{grid-area: servicesThree;}
#servicesFour{grid-area: servicesFour;}
#dot1{grid-area: dot1;}
#dot2{grid-area: dot2;}
#dot3{grid-area: dot3;}

.vector{
	display: block;
	margin: 60px auto 40px auto;
}

.lists{
	list-style-position: outside;
	padding: 0;
	list-style-type: disc;
	li{
		color: #56CCF2;
		text-align: left;
		margin: 0;
		font-family: $roboto;
		font-size: 24px;
	}
}
/* GALLERY STYLING */
.gallery{
	height: 700px;
	.slider {
		margin: 70px auto auto auto;
		max-width: 760px;
		opacity:1;
		.slide_viewer {
			height: 380px;
			overflow: hidden;
			position: relative;
			.slide_group {
				height: 100%;
				position: relative;
				width: 100%;
				.slide {
					display: none;
					height: 100%;
					position: absolute;
					width: 100%;
					.image{
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
	.slide_buttons {
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
	}
	.directional_nav {
		height: 340px;
		margin: 0 auto;
		max-width: 940px;
		position: relative;
		top: -340px;
		.previous_btn, .next_btn {
			cursor: pointer;
			height: 65px;
			opacity: 0.5;
			-webkit-transition: opacity 0.4s ease-in-out;
			-moz-transition: opacity 0.4s ease-in-out;
			-ms-transition: opacity 0.4s ease-in-out;
			-o-transition: opacity 0.4s ease-in-out;
			transition: opacity 0.4s ease-in-out;
			width: 65px;
			&:hover{
				opacity: 1;
			}
		}
		.previous_btn {
			bottom: 0;
			left: 100px;
			margin: auto;
			position: absolute;
			top: 0;
		}
		.next_btn {
			bottom: 0;
			margin: auto;
			position: absolute;
			right: 100px;
			top: 0;
		}
	}
}
//gallery JS classes START
.opacity{ opacity:1;}
.fade-up{
  padding-top: 100px !important;
  opacity: 0 !important;
}

.slide:first-child {display: block !important;}

a.slide_btn {
  color: #474544 !important;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide_btn.active, .slide_btn:hover {
  color: #428CC6 !important;
  cursor: pointer;
}
//gallery JS classes END

#processScroll{
	.textCont{
		.listCont{
			.lists{
				li{
					span{
						color: $white;
						font-size: $paragraph;
					}
				}
			}
		}
	}
}
#HSScroll{
	.textCont{
		.listCont{
			float: left;
			width: 50%;
			margin-top: 0;
			@include mobile{
				width: 100%;
				display: block;
				margin-bottom: 20px;
			}
			.lists{
				float: left;
				li{
					span{
						color: $black;
						font-size: $paragraph;
					}
				}
			}
		}
		.downloadCont{
			width: 50%;
			display: inline-block;
			@include mobile{
				width:100%;
				display: block;
				margin: 0 auto 60px auto;}
			a{
					margin: 10px auto;
					display: block;
					text-align: center;
					max-height: 250px;
			}
		}
	}
}

#formBackground{
    height: 900px;
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://rostumahady.github.io/arcadiascaffolding/img/landing.jpg") no-repeat 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    ". . ."
    ". formCont ."
		". . .";
		//same for mobile and tablet
		@include tablet{
			grid-template-areas:
        "formCont formCont formCont"
        "formCont formCont formCont"
        "formCont formCont formCont";
        background: none;
		}
		.formCont{
			background-color: $white;
			border-radius: 15px;
			width: 100%;
			grid-area: formCont;
			margin: 0 auto;
			h1{
					margin-top: 50px;
			}
			p{
					color: $black;
					margin-top: 1.5em;
					margin-bottom: 4em;
					font-size: $paragraph;
			}
			.form{
				width: 90%;
				margin: 0 auto;
				font-family: 'Roboto Condensed', sans-serif;
				p{
					margin-bottom: 30px;
					width: 100%;
					text-align: left;
				}
				.inputField{
					display: block;
					border: #828282 solid 2px;
					border-radius: 3px;
					font-size: $paragraph;
					height: 70px;
					width: 47%;
					margin: 1em 0 1em 0;
					line-height: normal;
					padding: 8px 12px;
					@include mobile{
						display: block;
						width: 100%;
						float: none;
					}
				}   
				#inputPhone{display: inline-block;}
				#inputEmail{float: right;}
				.messageBox{
					border: #828282 solid 2px;
					border-radius: 3px;
					margin: 1em 0 1em 0;
					width: 100%;
					height: 150px;
					resize: none;
					padding: 8px 12px;
					font-size: $paragraph;
				}
				.button{
					@include mobile{width: 100%};
				}

		}
	}
}
// Buttons //

#whiteBtn{
    border: 4px #56CCF2 solid;
    background: transparent;
    color: $black;
}

.button{
    position: relative;
    margin: 0 auto;
    width: 250px;
    background: #56CCF2;
    padding: 0.5em;
    border: none;
    color: $white;
    border-radius: 50px;
    font-weight: bold;
    font-size: 22px;
		text-decoration: none;
		cursor: pointer;
		&:hover{
			color: $black;
		}
}

.footer{
    height: 260px;
    width: 100%;
    background-color: #222932;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
		"f-Grid1 f-Grid2";
		@include tablet{grid-template-columns: 65% 35%;}
}

#f-Grid1{
    grid-area: f-Grid1;
    margin: 0 auto;
		width: 40%;
		@include tablet{width: 90%;}
    p{
        color: $white;
        margin: 20px auto 0 auto;
        display: block;
        width: 100%;
    }
    h2{
        text-align: left;
    }
}
#f-Grid2{
    grid-area: f-Grid2;
    color: $white;
    font-size: 32px;
    padding-top: 120px;
		margin-left: 0;
		@include tablet{padding-top: 60px;}
    .fab{
        margin: auto 15px;
    }
}
